$white: #fff;
$paragraph: #dcd7d7;
$button-color: #17a2b8;
$startup-back: #d0d3d6;
$gray: #808080;
$trial-back: #f7f9fb;
$heading-color: #696565;
$text-color: #99dae4;
$planning-back: #f3f3f3;
$description-color: #1a4477;
$footer-color: #176d71;