<div class="footer">
  <div>
    <a href="/" class="logo">MB</a>
    <div class="info">
      <div class="links">
        <a>Banner Maker</a> <br>
        <a>Landing page creator</a> <br>
        <a>Ad Campaigns</a>
      </div>
      <div class="links">
        <a>Pricing</a> <br>
        <a>How it works</a> <br>
        <a>Blog</a>
      </div>
    </div>
  </div>
  <div class="part">
    <p class="news">Newsletter</p>
    <p class="subscribe">Subscribe below</p>
    <form>
      <div class="form-group">
        <input type="email" class="form-control email" placeholder="your@email.com">
      </div>  
    </form>    
  </div> 
  <div class="part">
    <p class="news">Follow us</p>
    <p class="social">Social media</p>
    <div class="icons-div">
      <a href="https://www.facebook.com"><i class="fa fa-facebook" aria-hidden="true"></i></a>
      <a href="https://www.twitter.com"><i class="fa fa-twitter" aria-hidden="true"></i></a>
      <a href="https://www.linkedin.com"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
      <a href="https://www.plus.google.com"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
    </div>
  </div>
</div>