<div class="footer">
  <div>
    <a href="/" class="logo">MB</a>
    <div class="info">
      <div class="links">
        <a>Banner Maker</a> <br>
        <a>Landing page creator</a> <br>
        <a>Ad Campaigns</a>
      </div>
      <div class="links">
        <a>Pricing</a> <br>
        <a>How it works</a> <br>
        <a>Blog</a>
      </div>
    </div>
  </div>
  <div class="part">
    <p class="news">Newsletter</p>
    <p class="subscribe">Subscribe below</p>
    <form #f="ngForm" (ngSubmit)="onSubmit()">
      <div class="form-group mail-field" [ngClass]="{
        'has-danger': email.invalid && (email.dirty || emailtouched), 
        'has-success': email.valid && (email.dirty || email.touched)}"
      >
        <input type="email" class="form-control email"
          placeholder="your@email.com" name="email" 
          [(ngModel)]="emailAddress" #email="ngModel" required
          pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
        >
        <button type="submit" class="fa fa-send" aria-hidden="true"></button>
        <div class="form-control-feedback"
          *ngIf="email.errors && (email.dirty || email.touched)"
        >
          <p *ngIf="email.errors.required">
            <small>Email is required</small>
          </p>
          <p *ngIf="email.errors.pattern">
            <small>Email must contain the @ character</small>
          </p>
        </div>
      </div>  
    </form>    
  </div>
  <div class="part">
    <p class="news">Follow us</p>
    <p class="social">Social media</p>
    <div class="icons-div">
      <a href="https://www.facebook.com"><i class="fa fa-facebook" aria-hidden="true"></i></a>
      <a href="https://www.twitter.com"><i class="fa fa-twitter" aria-hidden="true"></i></a>
      <a href="https://www.linkedin.com"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
      <a href="https://www.plus.google.com"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
    </div>
  </div>
</div>