@import '~assets/styles/base/variables';
@import '~assets/styles/base/mixins';
@import '~assets/styles/base/typography';

.myCarousel {
    @include imagesize(60%, 300px);
    background-color: $white;
    text-align: center;
    margin-left: 20%;
    margin-top: $standard;
}

.icon {
    background-color: $gray;
}

.company {
    color: $gray;
}

.lorem {
    font-size: 11px;
    padding: $small;
    width: 60%;
    color: $lorem-color;
    margin-left: 20%;
}
.item {
    padding-top: $standard;
}