<div id="carousel" class="carousel slide carousel-fade company" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active item">
      <p class="title">Company comments</p>
      <p class="comment">Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
        Lorem Ipsum has been the industry's standard dummy text ever since the
        1500s, when an unknown printer took a galley of type and scrambled it to 
        make a type specimen book. It has survived not only five centuries, but 
        also the leap into electronic typesetting, remaining essentially unchanged.
      </p>
    </div>
    <div class="carousel-item item">
      <p class="title">Second slide</p>
      <p class="comment">Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
        Lorem Ipsum has been the industry's standard dummy text ever since the
        1500s, when an unknown printer took a galley of type and scrambled it to 
        make a type specimen book. It has survived not only five centuries, but 
        also the leap into electronic typesetting, remaining essentially unchanged.
      </p>
    </div>
    <div class="carousel-item item">
      <p class="title">Third slide</p>
      <p class="comment">Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
        Lorem Ipsum has been the industry's standard dummy text ever since the
        1500s, when an unknown printer took a galley of type and scrambled it to 
        make a type specimen book. It has survived not only five centuries, but 
        also the leap into electronic typesetting, remaining essentially unchanged.
      </p>
    </div>
  </div>
  <a class="carousel-control-prev icon" href="#carousel" role="button" data-slide="prev"><</a>
  <a class="carousel-control-next icon" href="#carousel" role="button" data-slide="next">></a>
</div>