<div class="main">
   <app-navigation></app-navigation>
   <div class="text">
       <h3 class="title">A very clear Statement of your offer.</h3>
       <p class="description">A supporting statement of your value proposition.</p>
       <button type="button" class="btn btn-outline-info get-started">Get Started</button>
   </div>   
</div>
<app-logos></app-logos>
<div class="startUp">
    <div class="picture-div">
        <img class="picture" src="/assets/photos/startup.jpg">
        <a href="/" class="logo startUp-logo">MB</a>
    </div>
    <div class="text">
        <h6 class="title">LOREM IPSUM IS SIMPLY DUMMY TEXT</h6>
        <p class="description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
            Lorem Ipsum has been the industry's standard dummy text ever since the
            1500s, when an unknown printer took a galley of type and scrambled it to 
            make a type specimen book. It has survived not only five centuries, but 
            also the leap into electronic typesetting, remaining essentially unchanged.
        </p>
        <button type="button" class="btn btn-outline-info press-button">Press me</button>
    </div>        
</div>
<app-slider></app-slider>
<app-planning></app-planning>
<div class="trial">
    <div class="start">
        <div class="left">
            <h4 class="title">Start your free Trial!</h4>
            <p class="description">Sed ut perspiciatis unde omnis iste natus error sit.Sed ut perspiciatis unde</p>
            <button type="button" class="btn btn-outline-info pressme-button">PRESS ME</button>
            <button type="button" class="btn btn-outline-info sign-up-button">SIGN UP NOW</button>            
        </div>
    </div>    
    <div class="picture-div">
        <img class="picture" src='/assets/photos/trial.jpg'>
    </div>
</div>
<app-footer></app-footer>