@import '~assets/styles/base/variables';
@import '~assets/styles/base/config';
@import '~assets/styles/base/mixins';

.main {
    @include background($main-background);
    height: 480px;    
    @include section();
}

.text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 130px;
    & h3 {
        color: $white;
        margin-bottom: 0;
    }
    & p {
        font-size: 23px;
        color: $paragraph;       
    }
    & button {
        margin-top: 60px;
        @include button();
        @include padding-left-right(30px, 30px);
    }
}

.startUp {
    display: flex;
    @include section();
    background-color: $startup-back;
}

.picture {
    @include background($startup-background);         
    width: 50%;
    & h3 {
        @include margin-top-left(20px, 70px);
        color: $white;
    }
}

.loremipsum {
    width: 50%;
    padding: 40px;
    & h6 {
        padding-bottom: 40px;
        font-weight: 700;
        color: $h-color;
    }
    & p {
        font-size: 15px;
        color: $gray;
        margin-bottom: 0;
    }
    & button {
        margin-top: 30px;
        @include button();
    }
}

.trial {
    display: flex;
    @include section();
    margin-top: 100px;
    text-align: center;
    background-color: $trial-back;
    &-start {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50%; 
        & div {
            width: 80%;
            & h4 {
                font-weight: 700;
                color: $h-color;
                padding-bottom: 30px;
            }
            & p {
                font-size: 15px;
                font-weight: 500;
                color: $gray;
            }
        }       
        & button {
            @include button();
            width: 70%;
            margin: 10px;           
        } 
        & .sign-up {
            border-radius: 0;
            background-color: $button-color;
            color: $white;
        }           
    } 
    &-image {
        width: 50%;
    }
}
