@import '~assets/styles/base/variables';
@import '~assets/styles/base/config';
@import '~assets/styles/base/mixins';
@import '~assets/styles/base/typography';

.main {
    @include background($main-background);
    height: 480px;    
    @include section();
}

%image-style {
    width: 100%;
    height: 100%;
}

.text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 130px;
    & h3 {
        color: $white;
        margin-bottom: 0;
    }
    & p {
        font-size: 23px;
        color: $paragraph;       
    }
    & button {
        margin-top: $large;
        @include button();
        @include padding-left-right($large/2, $large/2);
    }
}

.startUp {
    display: flex;
    @include section();
    background-color: $startup-back;
}

.picture {
    display: flex;        
    width: 50%;
    & h3 {
        position: absolute;
        @include margin-top-left($small, 70px);
        color: $white;
        z-index: 1;
    }
    & img {
       @extend %image-style;
    }
}

.loremipsum {
    width: 50%;
    padding: $middle;
    & h6 {
        padding-bottom: $middle;
        font-weight: 700;
        color: $h-color;
    }
    & p {
        font-size: $large/4;
        color: $gray;
        margin-bottom: 0;
    }
    & button {
        margin-top: $large/2;
        @include button();
    }
}

.trial {
    display: flex;
    @include section();
    margin-top: $standard*2;
    text-align: center;
    background-color: $trial-back;
    &-start {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50%; 
        & div {
            width: 60%;
            & h4 {
                font-weight: 700;
                color: $h-color;
                padding-bottom: $large/2;
            }
            & p {
                font-size: $large/4;
                font-weight: 500;
                color: $gray;
            }
        }       
        & button {
            @include button();
            width: 70%;
            margin: $small/2;           
        } 
        & .sign-up {
            border-radius: 0;
            background-color: $button-color;
            color: $white;
        }           
    } 
    &-image {
        width: 50%; 
    }
    & img {
        @extend %image-style;
    }
}
