@import '~assets/styles/base/variables';
@import '~assets/styles/base/mixins';
@import '~assets/styles/base/typography';

.planning {
    background-color: $planning-back;
    text-align: center;
    @include section();
    & h5 {
        color: $h-color;
        margin-bottom: 0;
        padding-top: $large/2;
        font-weight: 500;
    }    
    & p {
        color: $gray;
    }
}

p {
    font-size: 10px;
    margin: 0;
}

.price {
    @include margin-top-bottom($large/2, 0);  
    color: $button-color;
}

.monthly {
    color: $button-color !important;
}

.name {
    color: $description-color;
}

.description {
    margin-top: $middle;
    & p {
        color: $description-color;
    }
}

.plans {
    border: 2px solid $gray;
    padding: $small;
    margin-top: $middle;
    padding-bottom: $standard;
} 

.btn-border {
    margin-top: $standard;
    @include button();
    @include padding-left-right($large/2, $large/2);
}

.plan {
    padding: 0;
    margin-top: $standard;
}

.plan:hover {
    .plans{
        border: none;
    } 
    border: 2px solid $description-color;
    flex-grow: 0.9;
    .description {
        margin-top: $middle*2;
    }    
}