@import '~assets/styles/base/variables';
@import '~assets/styles/base/mixins';
@import '~assets/styles/base/typography';

.navigation {
    display: flex;
    justify-content: space-between;
    width: 80%;    
    margin-left: 10%;
    padding-top: $small;
    .btn-border {
        @include button();
        @include padding-left-right($small, $small);
        margin-left: $small;
    }
}