@import '~assets/styles/base/variables';
@import '~assets/styles/base/mixins';
@import '~assets/styles/base/typography';

.navigation {
    display: flex;
    justify-content: space-between;
    width: 82%;    
    margin-left: 9%;
    padding-top: $small;
    & h3 {
        color: $white;
    }
}

.btn-border {
    @include button();
    @include padding-left-right($small, $small);
    margin-left: $small;
}